* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #a06138;
    font-size: medium;
    background-color: #fff5ee;
}

/*---Header Style Start---*/

header {
    padding: 20px 35px;
}
  
header h1 {
    margin: 0;
    display: inline;
}
  
header a {
    text-decoration: none;
    color: #a06138;
}
  
header nav {
    float: right;
    margin: 7px 0;
}
  
header nav ul li {
    display: inline;
}
  
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

header nav ul li a:hover {
    color: #28525b;
}
  
.hi {
    margin-top: 0px;
}

section {
    padding: 0px;
}

section img {
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
}


#hero {
    height: 750px;
    background-image: url("../images/hero-bg.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

.intro {
    opacity: .95;
    font-size: 120px;
    text-align: center;
    op
}

.intro:hover {
    color: #28525b;
}

.web {
    opacity: .95;
    color: #28525b;
}

.web:hover {
    color: #fff5ee;
}

.illustrator {
    opacity: .95;
    color: #fff5ee;
}

.illustrator:hover {
    color: #a06138;
}

.about-me img {
    float: left;
}

/*---Header Style End---*/

.about-me img {
    opacity: .85;
    filter: alpha(opacity=40);
}

.about-me img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.dream {
      color: #28525b;
}



.about-me {
    background-image: url("../images/about-bg.png");
    background-color: #ebcfcb;
    height: 1000px;
    background-size: cover;
    background-position: center;
    position: relative;
}






.skill-set {
    height: 750px;
    background-size: cover;
    background-position: center;
    position: relative;
}







#work {
    height: 950px;
    background-image: url("../images/work-bg.png");
    background-size: cover;
    background-position: center;
    position: relative;
}


/*---CONTACT STYLE START HERE---*/

.contact {
    height: 750px;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
}

.feedback-input {
    color: black;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #28525b;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:50%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid #CC4949; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    width: 50%;
    background:#28525b;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:black;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#28525b; }



/*---CONTACT STYLE END HERE---*/














/*---Footer Style Start---*/
footer {
    width: 100%;
    padding: 10px 10px;
  }
  
footer h2 {
    display: inline;
    color: #a06138;
    font-size: 17px;
    margin: 0;
    opacity: .65;
}
footer div {
    float: right;
}

footer div ul li {
    display: inline;
  
}

footer div ul li a img {
    opacity: .50;
    filter: alpha(opacity=40);
    margin: 0 5px;
}

footer div ul li a img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

/*---Footer Style End---*/